@import "tailwindcss";

body {
  @apply bg-black text-white;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar but still allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
